<img class="header-logo" src="assets/logo.png">

</img>

<nav class="menu-bar navbar navbar-expand-lg mb-3">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link menu-link" href="/ieee/index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ieee/officers.html">Officers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ieee/calendar.html">Calendar </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ieee/join.html">Join</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ieee/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>