<%- include("./partials/header.ejs") %>

 <h3>Contact</h3>
<p>
    If you have any questions, feel free to email us at <b>ieee.rpi.officers@gmail.com</b>. If you
    prefer Discord, you can
    also message any of us on the <a href="https://discord.gg/7nhDayfP78">Discord server</a>.
</p>

<%- include("./partials/footer.ejs") %>