<%- include("./partials/header.ejs") %>

<div class="row">
    <div class="col-md">
        <h3>Welcome to RPI Branch of the IEEE</h3>
        <p>
            The RPI Student Branch of the IEEE is an organization dedicated to connecting students, researchers, and industry professionals in order to support the engineering community. We are here to offer students contacts through this worldwide organization. Come and join us to participate in our seminars and workshops geared towards enriching your knowledge. For more information on the Branch and the IEEE as a whole, visit our about page. In addition to the Student Branch, joining the national IEEE has its own benefits.
        </p>

        <h3>What is the IEEE?</h3>
        <p>
        A non-profit organization, the IEEE is the world's leading professional association for the advancement of technology.

        The IEEE name was originally an acronym for the Institute of Electrical and Electronics Engineers, Inc. Today, the organization's scope of interest has expanded into so many related fields, that it is simply referred to by the letters I-E-E-E. IEEE is a source of technical and professional information for students and professionals. It is a leading authority in all practices of electro-technologies, computer science, optics and other related fields. Currently, IEEE has over 370,000 members, 80,000 of whom are students.
        </p>

        <h3>Interested in Joining?</h3>
        <p>
        You may stop by at one of our meetings and ask to sign up. You can find more information at the <a href="join.html">Join page.</a>

        Additionally, you may contact us by joining the <a href="https://discord.gg/7nhDayfP78">Discord server</a>.
        </p>
    </div>

    <div class="col-md-4">
        <%- include("./partials/events.ejs") %>
    </div>
</div>

<%- include("./partials/footer.ejs") %>