<div class="card">
    <div class="card-body">
        <h4>Upcoming Events</h4>
        <h5>ECSE Finals Tutoring</h5>
        <p>Come study with your fellow students <i>Saturday, Dec. 12th</i> in our <a href="https://discord.gg/7nhDayfP78">Discord</a>! Come ask questions and get backwork for all of your classes, be they ECSE, CSCI or otherwise!</p>
    </div>
</div>